.home-page {
  margin-top: 150px;
  font-family: "Poppins";
}

.Introduction {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 80px;
  width: 100%;
}

.ProfileImage{
  width: 220px;
  border: 2px solid #dfad2e;
  border-radius: 50%;
}


.Green-Line {
  height: 6px;
  width: 100px;
  background-color: #4a704a;
  margin-top: 68px;
}

.Heading {
  font-size: 25px;
  font-weight: 500;
}

.Sub-Head{
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 40px;
  font-weight: 600;
}

.Full-Name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.Prefix {
  color: var(--dark-green);
}

.name {
  color: #d4a017;
  text-decoration: underline;
  font-style: italic;
}

.Position {
  font-size: 40px;
  font-weight: 600;
}

.Action-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.ActionHead {
  margin-top: 30px;
}

.View-Container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid;
  border-radius: 50px;
  padding: 2px;
  background-color: #dfad2e;
  cursor: pointer;
  gap: 20px;
}

.View {
  font-weight: 500;
  font-size: 16px;
  background-color: #4a704a;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
}

.Arrow-Container {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.Arrow-Icon {
  width: 20px;
  height: 20px;
}

.Hire {
  font-weight: 500;
  font-size: 16px;
  color:black;
  padding: 10px 30px;
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
}

/* About Me Section */
.Break-Line{
  width: 100%;
  height: 7px;
  background-color: #4a704a;
  border: 3px solid #dfad2e;
}

.About-Me-Container {
  background-color: #4a704a;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
  gap: 10px;
  width: 100%;
}

.About-Me-Content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Yellow-Line, .YellowA-Line {
  width: 40px;
  height: 5px;
  background-color: #dfad2e;
}

.YellowA-Line{
  margin-top: 20px;
}

.Ab {
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.Who-is {
  color: rgb(255, 255, 255);
}

.JustinT {
  color: #dfad2e;
  font-style: italic;
  font-weight: 500;
}

.Description-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.About-Icon {
  width: 40px;
}

.Description {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.Sub-Description {
color: white;
font-size: 16px;
}

.Action-About {
  margin-top: 50px;
}



.CV-Container {
  display: flex;
  flex-direction: row;
  border: 3px solid #dfad2e;
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
  padding: 3px 25px;
  gap: 10px;
}

.Download-Icon {
  width: 40px;
  height: 40px;
}

.CV {
  font-weight: 500;
  font-size: 16px;
  color:rgb(255, 255, 255);
}

/* Services Section */
.Services {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
  gap: 50px;
}

.All-Heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.Heading-Container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Heading-Content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

.Heading-Text {
  font-size: 30px;
  font-weight: 600;
  color:#4a704a;
}

.Sub-Heading-Text{
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.Services-Sub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex-wrap: wrap;
}

.Services-Sub-Container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 20px;
  background-color: var(--white-smoke);
}

.Services-icon {
  width: 100px;
  padding: 20px;
  border: 6px solid #dfad2e;
  border-radius: 50px;
  margin: 20px;
  background-color: white;
}

.Services-Sub-Content {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-left: 20px;
}

.Services-Sub-Details {
  font-size: 20px;
  color: black;
  margin-left: 20px;
}

/* Tools Section */
.Tools {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
  background-color: var(--white-smoke);
  gap: 50px
}
.Heading-Tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Tool-Sub-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.Tool-Icon-Field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: top;
  width: 150px;
}

.Tool-Icon-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #f1eeee;
  border-radius: 100px;
  background-color: white;
  width: 120px;
  height: 120px;
}

.Tool-Icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.Icon-Name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #dfad2e;
}

/* Project Section */
.Projects {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
}
.Action-Projects {
  margin-bottom: 17px;
}

.Projects-Sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 100px;
  gap: 30px;
  flex-wrap: wrap;
}

.Projects-Sub-Container {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #dfad2e;
  border-radius: 20px;
  background-color: var(--white-smoke);
  padding: 20px;
}

.Projects-Sub-Content {
  width: auto;
  border-radius: 20px;
}

.Project-Image {
  width: 100%;  /* Make it fit inside the container */
  max-width: 100%; /* Prevent overflow */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #d4d2d2;
  border-radius: 20px;
  margin: 0 auto; /* Center the image if needed */
  display: block;
  object-fit: contain; /* Ensure the whole image is visible */
}

.Projects-Sub-Details {
  display: flex;
  flex-direction: column;
}

.Projects-Title {
  display: flex;
  flex-direction: row;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  border-radius: 20px;
  background-color: #dfad2e;
  padding: 5px 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.Projects-Link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.Project-Name {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.ArrowP-Icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 2px solid #dfad2e;
  border-radius: 50px;
}

@media screen and (max-width: 576px) {
  .home-page {
    margin-top: 80px;
    width: 100%;
  }
  .Introduction {
    margin-bottom: 23px;
    padding: 0;
  }
  .Green-Line {
    width: 17px;
    height: 3px;
    margin-top: 20px;
  }
  .Heading {
    font-size: 8px;
  }
  .Sub-Head {
    font-size: 12px;
    gap: 0;
  }
  .Position {
    font-size: 12px;
  }
  .ActionHead {
    margin-top: 8px;
  }
  .View-Container {
    border: 1px solid;
    padding: 1px;
    gap: 10px;
  }
  .View {
    font-size: 6px;
    padding: 4px 6px;
  }
  .Arrow-Container {
    width: 16px;
    height: 16px;
  }
  .Arrow-Icon {
    width: 7px;
    height: 7px;
  }
  .Hire {
    font-size: 6px;
    padding: 4px 6px 3px 6px;
    border-width: 1px;
  }
  .ProfileImage {
    width: 100px;
    height: 100px;
  }

 /* About Me Section */
  .YellowA-Line {
    height:2px;
    width: 25px;
    margin-top: 8px;
  }
  .About-Me-Container {
    padding: 25px 15px;
  }
  .About-Me-Content {
    width: 250px;
    gap: 5px;
  }
  .Ab {
    font-size: 12px;
  }
  .Who-is {
    font-size: 10px;
  }
  .JustinT {
    font-size: 10px;
  }
  .Description-Container {
    margin-top: 10px;
    gap: 10px;
  }
  .Description {
    font-size: 12px;
  }
  .Sub-Description {
    font-size: 8px;
  }
  .Action-About {
    margin-top: 20px;
  }
  .About-Icon {
    width: 20px;
    height: 20px;
  }
  .CV-Container {
    padding: 1px 10px;
  }
  .Download-Icon {
    width: 15px;
    height: 15px;
  }
  .CV {
    font-size: 6px;
  }

  /* Services Section */
  .Yellow-Line {
    height: 3px;
    width: 15px;
  }
  .Services {
    margin-top: 25px;
    padding: 0px 25px;
  }
  .Heading-Content{
    gap: 5px;
  }
  .Heading-Text {
    font-size: 12px;
  }
  .Sub-Heading-Text {
    font-size: 12px;
  }
  .Services-Sub {
    padding: 15px 0px;
  }
  .Services-Sub-Container {
    height: 130px;
    border-radius: 13px;
  }
  .Services-icon {
    width: 38px;
    padding: 8px;
    border-width: 2px;
    border-radius: 23px;
    margin: 8px;
  }
  .Services-Sub-Content {
    font-size: 12px;
    margin-left: 8px;
  }
  .Services-Sub-Details {
    font-size: 10px;
    margin-left: 8px;
  }

  /* Tools Section */
  .Tools {
    margin-top: 25px;
    padding: 20px;
  }
  .Tool-Sub-Container {
    gap: 15px;
    padding: 0px 25px;
  }
  .Tool-Icon-Field {
    width: 50px;
  }
  .Tool-Icon-Container {
    width: 42px;
    height: 42px;
  }
  .Tool-Icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .Icon-Name {
    font-size: 8px;
  }



  /* Projects Section */
  .Projects {
    margin-top: 25px;
    padding: 0px 25px;
  }
  .Projects-Sub {
    padding: 15px 0px;
    gap: 15px;
  }
  .Projects-Sub-Container {
    padding: 8px;
    border-radius: 13px;
  }
  .Project-Image {
    border-radius: 13px;
  }
  .Projects-Title {
    font-size: 8px;
    padding: 3px 6px;
    margin-top: 8px;
  }
  .Project-Name {
    font-size: 12px;
  }
  .Action-Container{
    margin-bottom: 5px;
  }
  .ArrowP-Icon {
    width: 25px;
    height: 25px;
    padding: 5px;
  }
}

@media screen and (max-width: 320px) {
  .home-page {
    margin-top: 60px;
    width: 100%;
  }
  .Introduction {
    margin-bottom: 23px;
    padding: 0;
  }
  .Green-Line {
    width: 17px;
    height: 3px;
    margin-top: 20px;
  }
  .Heading {
    font-size: 8px;
  }
  .Sub-Head {
    font-size: 12px;
    gap: 0;
  }
  .Position {
    font-size: 12px;
  }
  .ActionHead {
    margin-top: 8px;
  }
  .View {
    font-size: 6px;
    padding: 4px 6px;
  }
  .Arrow-Container {
    width: 16px;
    height: 16px;
  }
  .Arrow-Icon {
    width: 7px;
    height: 7px;
  }
  .Hire {
    font-size: 6px;
    padding: 4px 6px 3px 6px;
    border-width: 1px;
  }
  .ProfileImage {
    width: 90px;
    height: 90px;
  }

 /* About Me Section */
  .YellowA-Line {
    height:2px;
    width: 25px;
    margin-top: 8px;
  }
  .About-Me-Container {
    padding: 25px 15px;
  }
  .About-Me-Content {
    width: 200px;
    gap: 5px;
  }
  .Ab {
    font-size: 12px;
  }
  .Who-is {
    font-size: 10px;
  }
  .JustinT {
    font-size: 10px;
  }
  .Description-Container {
    margin-top: 10px;
    gap: 10px;
  }
  .Description {
    font-size: 12px;
  }
  .Sub-Description {
    font-size: 8px;
  }
  .Action-About {
    margin-top: 20px;
  }
  .About-Icon {
    width: 20px;
    height: 20px;
  }
  .CV-Container {
    padding: 1px 10px;
  }
  .Download-Icon {
    width: 15px;
    height: 15px;
  }
  .CV {
    font-size: 6px;
  }

  /* Services Section */
  .Yellow-Line {
    height: 3px;
    width: 15px;
  }
  .Services {
    margin-top: 25px;
    padding: 0px 25px;
  }
  .Heading-Content{
    gap: 5px;
  }
  .Heading-Text {
    font-size: 12px;
  }
  .Sub-Heading-Text {
    font-size: 12px;
  }
  .Services-Sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0px;
  }
  .Services-Sub-Container {
    height: 130px;
    border-radius: 13px;
  }
  .Services-icon {
    width: 38px;
    padding: 8px;
    border-width: 2px;
    border-radius: 23px;
    margin: 8px;
  }
  .Services-Sub-Content {
    font-size: 12px;
    margin-left: 8px;
  }
  .Services-Sub-Details {
    font-size: 10px;
    margin-left: 8px;
  }

  /* Tools Section */
  .Tools {
    margin-top: 25px;
    padding: 20px;
  }
  .Tool-Sub-Container {
    gap: 15px;
    padding: 0px 25px;
  }
  .Tool-Icon-Field {
    width: 50px;
  }
  .Tool-Icon-Container {
    width: 42px;
    height: 42px;
  }
  .Tool-Icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  .Icon-Name {
    font-size: 8px;
  }



  /* Projects Section */
  .Projects {
    margin-top: 25px;
    padding: 0px 25px;
  }
  .Projects-Sub {
    padding: 15px 0px;
    gap: 15px;
  }
  .Projects-Sub-Container {
    padding: 8px;
    border-radius: 13px;
  }
  .Project-Image {
    border-radius: 13px;
  }
  .Projects-Title {
    font-size: 8px;
    padding: 3px 6px;
    margin-top: 8px;
  }
  .Project-Name {
    font-size: 12px;
  }
  .ArrowP-Icon {
    width: 25px;
    height: 25px;
    padding: 5px;
  }
}