.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-smoke);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1000;
}

.GreenLine {
  display: block;
  top: 0;
  height: 5px;
  width: 100%;
  background-color: #4a704a;
}

.Nav {
  display: flex;
  flex-direction: row;
  background-color: none;
  transition: all 0.5s;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
}

.Nav-Items-Containers {
  width: 100px;
  height: 70px;  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.Nav-Items {
  width: 100px;
  height: 66px; 
  font-family: "Poppins";
  color: #4a704a;
  font-weight: 400;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Nav-Line {
  height: 4px;
  width: 100%;
  background-color: #4a704a;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.Nav-Items-Containers:hover .Nav-Line {
 opacity: 1;
}

.Nav-Items-Containers:hover .Nav-Items {
  font-weight: 500;
  opacity: 1;
  color: #d4a017;
 }

 .Logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
 }

 .LogoImage {
  width: 100px;
  margin: 10px;

}

@media (max-width: 430px) {
  .NavBar {
    width: 430px;
  }
  .GreenLine {
    height: 4px;
  }
  .Nav {
    height: 50px;
  }
  .Nav-Items-Containers{
    width: 50px;
    height: 50px;
  }
  .Nav-Items {
    width: 46px;
    height: 46px;
    font-size: 10px;
  }
  .Nav-Line {
    height: 2px;
  }
  .Logo {
    height: 50px;
  }
  .LogoImage {
    width: 50px;
    margin: 5px;
  }
}